.steps {
    .anticon {
        color: $color-gray;
    }

    .ant-steps-item-finish {
        .anticon {
            color: $color-primary;
        }
    }

    .ant-steps-item-active {
        .ant-steps-icon {
            padding: 0.5rem 1.5rem;
            background-color: $color-primary;
            border-radius: 50%;

            svg {
                color: $color-white;
            }
        }
    }
    @include responsive-max(500) {
        .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
            height: 0 !important;
        }
    }
}
